xenon==0.9.0
types-Pillow==9.2.1
Sphinx==5.1.1
recommonmark==0.7.1
pytest==7.1.2
pytest-mock==3.8.2
pytest-cov==3.0.0
pylint==2.15.0
Pillow==9.2.0
numpy==1.23.2
mypy==0.971
isort==5.10.1
black==22.6.0
bandit==1.7.4
